node_modules
npm-debug.log
.DS_Store
dist
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vercel
.next
coverage
apps/*/node_modules
apps/*/dist
apps/*/.next
apps/*/coverage
.git
.gitignore
.prettierignore
.eslintrc.js
*.md
.dockerignore
